body {
  background-color: #1e3c72;
  font-size: 20px;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.card {
  width: 90%;
  max-width: 720px;
  /* background: linear-gradient(to right, #1e3c72, #2a5298); */
  color: #ffffff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  margin: 100px auto 0;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  width: 80%;
  height: 60px;
  padding: 5px 25px;
  padding-right: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.clear-button {
  position: absolute;
  top: 17%;
  right:80px;
  padding: 10px;
  background-color:transparent;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 22px;
  color: #aaa;
  /* initially hidden */
}
.search button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ebfffc;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.search button img {
  width: 20px;
}
.weather-icon {
  display: inline-block;
  width: 170px;
  /* height: 100px; */
  margin-top: 30px auto;
  margin-bottom: 10px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 600;
}
.weather h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity-1,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.details-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.weather-description {
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}
.percipitation-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.percipitation {
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
}

.temp{
  display: inline-block;
  font-size: 60px;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 10px;
}

.celsius,.fahrenheit{
  display: inline-block;
  position: relative;
  top: -30px;
  cursor: pointer;
  margin-left:
  font-size: 60px;
}
.i {
  display: inline-block;
  position: relative;
  top: -30px;
  font-size: 25px;
}
.fahrenheit {
  color: #b3babfff;
}
